<div style="display:flex;margin-left:15px;padding-left:15px;margin-right:15px;padding-right: 15px;padding-top:10px;">
    <img class="logo1" src="../../../assets/images/irctclogo1-removebg-preview.png">
  <span class="example-spacer"></span>
  <img class="logo2" src="../../../assets/images/irctclogo2-removebg-preview(1).png">
  <div style="margin-top:15px;" *ngIf="!authenticated">
    <a routerLink="/" style="text-decoration:none;margin-top:10px;margin-right:10px;color:blue;">Back To Home Page </a> 
  <a  routerLink="/home/login" style="text-decoration:none;margin-top:10px;color:orange;" ><span>Sign In</span> </a> 
  </div>
  <div style="margin-top:15px;display: flex; justify-content: space-between;" *ngIf="authenticated">
    <button routerLink="/home/booking-history" style="text-decoration:none;margin-top:10px;margin-right:10px;color:blue;">Booking History </button> 
    <a routerLink="/home/" style="text-decoration:none;margin-top:10px;margin-left:10px;color:orange;" (click)="logout()" ><span>Logout</span> </a> 

    </div>
  </div>
