.container{
    width:96%;
    margin: auto;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid gray;
}

.input1{
   
    width:46%;
    margin: 10px;
}

table {
    width: 97%;
    margin: 15px;
  }
  
.content{
    width:97%;
    margin: 15px;
    border:1px solid black;
}
.dateStation{
    height:80px;
}
.trainDetails, .dateStation,.seat{
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.coach{
    margin: 15px;
    height:100px;
    width:23%;
    border: 1px solid black;
}

p{
    padding-left: 15px;
    margin-top: 9px;
    margin-left: 15px;
}

.bookBtn{
    margin: 15px;
    padding: 10px;
    width: 30%;
    border: 1px solid #fb792b;
    background-color: #fdc9aa ;
}

.example-spacer {
    flex: 1 1 auto;
  }

  .logo1{
    width:6%;
    height:55px;
  }


  .logo2{
    width:10%;
    height:55px;
  }

.togBtn{
    margin-left: 15px;
}