.container{
    /* justify-content: center; */
    /* align-items: center; */
    padding: 15px;
    margin: auto;
    width: 97%;
    /* border: 1px solid black; */
    background-color: aliceblue;
}



.header{
    margin: 10px;
    display:flex;
    justify-content: space-between;
}

.headerLink{
    margin: 10px;
    display:flex;
    justify-content:flex-start
}

.linkHead{
    padding: 15px;
}
.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    /* border: 1px solid black; */
    background-color: rgb(253, 253, 253);

    
}

.form{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.input {
    width:75%;
    margin-top: 20px;
}

.main{
    margin: 20px;
}
 
hr {
    width: 85%;
    text-align: left;
    margin-top: 0px;
    margin-left: 20px;
}

.language{
    width:91%;
}

.buttonSubmit {
    display: flex;
    justify-content: space-between;
}

/* .inputname{
    margin: 10px;
    width: 25%;
} */

.radio-button {
    margin-left: 20px;
}

.radio-group {
    margin-top: 15px;
}
.group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gender {
    display: flex;
    margin-left: 10px;

}
.male,.female,.trans {
    padding: 8px;
    width:30%;
    border-radius: 3px;
    border: 1px solid black;
}

.signInBtn{
    text-decoration: none;
    color: rgb(212, 142, 12);
}

.input1{
    width: 45%;
    margin:10px;
}

.example-spacer {
    flex: 1 1 auto;
  }

  .logo1{
    width:6%;
    height:55px;
  }


  .logo2{
    width:10%;
    height:55px;
  }