.bodyContainer{
  width: 97%;
  margin: auto;
}
.tableContainer {
    margin: 15px;
    border: 1px solid black;
      width: 90%;
    }
  
    .trainInf,.tableHead, .dateStation, .tableData{
      display: flex;
      margin: 10px;
    }
  .dateStation{
    justify-content: space-between;
  }
    .headName{
      width:40%;
    }
  
    .headGender{
      width:40%;
    }
  
    .headAge{
      width:40%;
    }

    .totalPrice{
      margin: 15px;
      display: flex;
      justify-content: space-between;
    }
  
    table {
      width: 100%;
    }

    .container{
      margin:15px;
    }

    .class1{
      color:green;
    }

    .class2{
      color:red;
    }
    .mat-form-field + .mat-form-field {
      margin-left: 8px;
    }