<div class="container">
    <div class="main">
    <div class="header">
    <h1 >Create Your Account</h1>
    <a href="#">SIGN IN</a>
    </div>
    <div class="headerLink">
        <a href="#" class="link"><span class="linkHead">Basic Details</span></a>
        <a href="#"class="link"><span class="linkHead">Personal Details</span></a>
        <a href="#"class="link" ><span class="linkHead">Address</span></a>
        </div>
        <hr >

    <form >
      <mat-form-field appearance="outline">
        <input class="input" matInput formControlName="firstName" placeholder="First Name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input class="input" matInput formControlName="middleName" placeholder="Middle Name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input class="input"  matInput formControlName="lastName" placeholder="Last Name">
      </mat-form-field>

  
    <mat-form-field appearance="outline">
      <input class="input" type="password" matInput formControlName="productName" placeholder="Confirm Password">
    </mat-form-field>
    
      <mat-form-field appearance="outline">
        <input class="input" matInput formControlName="userName" placeholder="Security Answer">
      </mat-form-field>
    </form>
    <div class="buttonSubmit">
      <button mat-raised-button style="margin:15px;width:25%;background-color:orange; color:white;"  >Cancel</button>
      <button mat-raised-button style="margin:15px;width:25%;" color="primary" >Continue<mat-icon>arrow_right_alt</mat-icon></button>
    
    </div>
</div>
    </div>
